.Person{
    background-color: beige;
    padding: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    border-radius: 5px;
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    text-align: center;
}